# ===== 编译产物 =====
*.pyc
__pycache__/
.venv/

# ===== 训练权重（体积过大，不上传） =====
*.pth

# ===== 数据集（体积过大，仅保留空目录占位，不上传真实数据） =====
CNN-Learning/data/cifar10/**
CNN-Learning/data/MNIST/**
!CNN-Learning/data/cifar10/.gitkeep
!CNN-Learning/data/MNIST/.gitkeep

# ===== 其他不上传文件 =====
调参.txt
